body {
  background-color: white;
}
.bandera {
  background-color: white;
  width: 500px;
  height: 300px;
  margin: 20px;
  float: left;
  border: 1px solid black;
}
.esp1 {
  background-color: red;
  height: 25%;
}
.esp2 {
  background-color: yellow;
  height: 50%;
}
.esp3 {
  background-color: red;
  height: 25%;
}

.din1 {
  background-color: red;
  height: 45%;
  width: 35%;
  position: relative;
  top: 0;
  right: 0;
  margin: 0;
  float: left;
}

.din2 {
  background-color: red;
  height: 45%;
  width: 58%;
  float: right;
}

.din3 {
  background-color: red;
  height: 45%;
  width: 35%;
  margin-top: 30px;
  float: left;
}
.din4 {
  background-color: red;
  height: 45%;
  width: 58%;
  float: right;
  margin-top: 30px;
}
.emi1 {
  background-color: green;
  height: 33.33%;
  margin-left: 100px;
}
.emi2 {
  background-color: white;
  height: 33.33%;
  margin-left: 100px;
}
.emi3 {
  background-color: black;
  height: 33.33%;
  margin-left: 100px;
}
.emi4 {
  background-color: red;
  height: 99.9%;
  width: 100px;
  margin-right: -9px;
  position: relative;
  top: -300px;
}
.jap {
  background-color: red;
  height: 120px;
  width: 120px;
  position: relative;
  top: 100px;
  left: 200px;
  border-radius: 60px;
}
.clearbox {
  clear: both;
}
