body{
    margin:0;
}
.nav{
    background-color: $eerie-black;
    display: flex;
    justify-content: space-around;
    img{
        width: 100px;
        height: 50px;
    }
    .nav__item{
        display: flex;
        justify-content: space-between;
        width: 40%;
        list-style: none;
    
        .nav__items{
            color: $white;
            a{
                text-decoration: none;
                color:$white;
            }
        }
    }
}