//colors
$white:#fff;
$isabelline:#ECECEC;
$light-gray:#D1D1D1;

$smoky-black:#0C0910;
$granite-gray:#646266;
$quick-silver:#A6A5A8;

//typography
$old-standard:'Old Standard TT', serif;
$raleway:'Raleway', sans-serif;

//font-sizes
$xxx-large:50px;
$xx-large:30px;
$x-large:20px;
$large:18px;
$medium:16px;
$small:14px;
$x-small:12px;


//dispositivos
$tablet:1024px;
$mobile:500px;
