.navbar {
  background-color: $black;
  .navbar__content {
    .navbar__logo {
      width: 35px;
    }
    .navbar__hamburguer {
      span{
          background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
          &:hover {
            background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='orange' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
            }
        }
    }
    .navbar__collapse {
      .navbar__list {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        .navbar__item {
          font-family: $ubuntu;
          .navbar__link {
            color: $white;
          }
        }
      }
    }
  }
}
