.hero-section {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 100px);
  @media screen and (max-width: $tablet) {
        height: auto;
  }

  .hero-section__img {
    width: 100%;
    height: 100%;
    @media screen and (max-width: $tablet) {
     height: auto;
      position: relative;
      bottom: 20%;
    }
  }
}
