.medium-button{
    background-color: $nickel;
    color: $white;
    width: 190px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid transparent;
    cursor: pointer;
    &:hover{
        background-color: $light-gray;
    }
    &:focus{
        border: 3px solid $light-gray;
    }
}
.small-button{
    background-color: $nickel;
    color: $white;
    width: 120px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid transparent;
    cursor: pointer;
    &:hover{
        background-color: $light-gray;
    }
    &:focus{
        border: 3px solid $light-gray;
    }
}